opencv-python-headless
numpy
openslide-python
openslide-bin
pandas
pillow
scikit-image
torch==2.2.0  # Ensure compatibility with your setup
torchvision==0.15.0  # Compatible version
streamlit==1.27.2
# Remove GPU-dependent CuPy
# cupy-cuda12x  # Removed
# Add the CPU version if needed
# cupy-cpu==12.0.0  # Optional, if you need CPU-based CuPy
