opencv-python-headless
cupy-cuda12x
numpy
streamlit
openslide-python
openslide-bin
pandas
pillow
scikit-image
torch>=2.2.0  # Use a compatible version
torchvision>=0.21.0  # Ensure compatibility with the torch version
