opencv-python-headless
numpy
openslide-python
openslide-bin
pandas
pillow
scikit-image
torch==2.2.0  # Ensure compatibility with your setup
torchvision==0.15.0  # Compatible version
streamlit==1.27.2
cupy-cuda12x
